:root {
    scroll-behavior: smooth;

    /* Colors */
    color-scheme: light only;
    --primary-dark: #050505;
    --secondary-dark: #252424;
    --primary-yellow: #efb92d;
    --secondary-yellow: #dba445;
    --primary-light: #ffffff;
    --tertiary-dark: rgba(0, 0, 0, 0.151);

    /* Font Family */
    --font-family: "Oswald", sans-serif;

    /* Responsive font-sizes */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
    --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
    --step-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);

    /* Spacing */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
    --space-3xs-2xl: clamp(0.3125rem, -1.3179rem + 8.1522vw, 5rem);
    --space-3xs-m: clamp(0.3125rem, -0.231rem + 2.7174vw, 1.875rem);

    /* Transitions */
    --transition-overshoots: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --transition-easeout: cubic-bezier(0.215, 0.61, 0.355, 1);
    --duration-sm: 0.5s;
    --duration-md: 0.7s;
    --duration-lg: 1s;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-yellow);
    overflow-x: clip;
}

::selection {
    background-color: var(--secondary-yellow);
    color: var(--primary-light);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

section,
footer {
    min-height: 100svh;
    scroll-snap-align: start;
}

input,
textarea,
select {
    font-family: var(--font-family);
}

body>* {
    --nav-h: 80px;
    --section-h: 100svh;

    /* logo size */
    --ratio: calc(9 / 5);
    --logo-w: 90px;
    --logo-h: calc(var(--logo-w) / var(--ratio));

    /* logo position */
    --bottom: 310px;
    --left: 45px;
    --top: calc(var(--section-h) - var(--bottom));
    --mask-fill: var(--space-m);
    --mask-pos-y: calc(var(--top) - var(--mask-fill) + var(--nav-h));
    --mask-pos-x: calc(var(--left) - var(--mask-fill));

    /* mask rect styles */
    --outline: 7px;
    --bg-s: calc(100% - var(--outline));
    --after-w: calc(var(--outline) * 4);

    @media (max-width: 768px) {
        --mask-fill: var(--space-s);
        --bottom: 260px;
        --logo-w: 60px;
        --left: var(--mask-fill);
        --outline: 5px;
    }
}

.navbar {
    display: flex;
    justify-content: end;
    min-height: var(--nav-h);
    background-color: transparent;
    position: sticky;
    top: 0;
    opacity: 0.1;
    transition: opacity 1s;

    z-index: 2;

    &:hover {
        opacity: 1;
    }

    .menu,
    .navbar__overlay {
        display: none;
    }

    .navbar__list {
        margin-inline-end: var(--space-m);
        display: flex;
        min-height: 100%;
        gap: var(--space-m);
        color: var(--secondary-dark);
    }

    .navbar__item,
    .menu {
        font-size: var(--step-0);
        padding-inline: var(--space-s);
        align-content: center;
        background-image: conic-gradient(var(--primary-yellow) 0 0);
        background-size: 100% var(--p, 0%);
        background-repeat: no-repeat;
        transition: background-size var(--duration-sm);

        &:hover {
            --p: 100%;
            color: var(--primary-light);
        }
    }

    .navbar__item {
        position: relative;
    }

    .navbar__link {
        transition: color var(--duration-md) var(--transition-overshoots);
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: auto;
        }
    }

    @media (max-width: 1024px) {
        opacity: 0.7;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            width: 80px;
            direction: rtl;
            cursor: pointer;

            div {
                width: 20px;
                height: 2px;
                background-color: var(--secondary-dark);
                transition: width var(--duration-sm) var(--transition-easeout);
            }

            &:hover div {
                width: var(--w);
            }
        }

        .navbar__list,
        .navbar__overlay {
            overflow: hidden;
            position: fixed;
            right: 0;
            height: 100%;
            width: 0%;
            opacity: 0;
            transition-property: width, opacity;
            transition-duration: var(--duration-lg);
            transition-timing-function: var(--transition-easeout);
        }

        .navbar__overlay {
            display: block;
            background-color: #0000005d;
        }

        .navbar__list {
            display: flex;
            flex-direction: column;
            background-color: var(--secondary-yellow);
            margin: 0;
            padding-block: var(--space-xl);
        }

        #navbar__check:checked+.menu+nav .navbar__overlay {
            width: 100%;
            opacity: 1;
        }

        #navbar__check:checked+.menu+nav .navbar__list {
            width: 30%;
            opacity: 1;
        }
    }
}

.hero {
    margin-block-start: calc((var(--top) + var(--logo-h) + var(--nav-h)) * -1);
    background-color: var(--primary-yellow);
    display: flex;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        display: block;
        position: sticky;
        top: 0;
        min-width: var(--logo-w);
        height: var(--logo-h);
        border-radius: 50%;
        padding: var(--mask-fill);
        background: conic-gradient(var(--primary-yellow) 0 0) 50% 50% / calc(var(--after-w) - var(--outline) * 2) calc(100% + 1px) no-repeat,
            radial-gradient(farthest-side,
                var(--primary-yellow) var(--bg-s),
                var(--primary-light) var(--bg-s) var(--outline));
        margin-block-start: var(--mask-pos-y);
        margin-inline-start: var(--mask-pos-x);
        margin-block-end: 15px;

        z-index: 1;
    }

    &::after {
        content: "";
        box-sizing: border-box;
        display: block;
        width: var(--after-w);
        height: 100%;
        background: linear-gradient(90deg,
                var(--primary-light) var(--outline),
                transparent var(--outline) var(--bg-s),
                var(--primary-light) var(--bg-s) var(--outline)) 0 0 / var(--after-w) 100% no-repeat;
        position: absolute;
        top: 0;
        z-index: -1;

        left: calc(var(--mask-pos-x) + var(--mask-fill) + (var(--logo-w) / 2) - (var(--after-w) / 2));
    }

    .hero__content {
        /* Title size */
        --t-size: calc(var(--mask-pos-y) + ((var(--logo-h) + var(--mask-fill) * 2) / 2));

        /* subtitle size */
        --s-size: calc(var(--section-h) - var(--t-size));

        /* overlap logo section */
        --overlap: calc((var(--logo-w) + (var(--mask-fill) * 2) - var(--after-w)) / -2);

        flex: 1;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: var(--t-size) var(--s-size);
        grid-template-columns: 100%;
        align-items: stretch;
        justify-items: stretch;
        margin-inline-start: var(--overlap);

        &>* {
            align-content: center;
            text-align: end;
            color: var(--primary-light);
            padding: var(--space-s);
        }

        .hero__title {
            background-color: var(--primary-dark);
            font-size: var(--step-5);
        }

        .hero__about {
            --s: 2px;

            background-color: var(--secondary-yellow);
            font-size: var(--step-2);
            position: relative;
            border-bottom: solid var(--primary-light) var(--s);

            &::before {
                --x-outline: calc(30% + var(--s) * 8);
                --deg-outline: calc(30% - var(--s));

                content: "";
                background: linear-gradient(90deg,
                        transparent var(--x-outline),
                        var(--primary-light) var(--x-outline) 100%) 0% 100% / 100% var(--s) no-repeat,
                    linear-gradient(65deg,
                        transparent var(--deg-outline),
                        var(--primary-light) var(--deg-outline) 30%,
                        var(--secondary-yellow) 30% 100%);
                position: absolute;
                width: min(700px, calc(100% + var(--outline)));
                height: 70%;
                top: 100%;
                right: 0;
            }
        }
    }
}

.services {
    --m: var(--space-3xl);

    background-color: var(--primary-yellow);
    position: relative;

    .services__title {
        text-wrap: nowrap;
        position: relative;
        text-align: end;
        padding-block-start: var(--space-xl);
        padding-inline: var(--space-s);

        z-index: 1;
    }

    .services__cards {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
        padding-block: var(--m);
        z-index: 1;
    }

    &::before {
        --right: 80px;

        content: "";
        position: absolute;
        top: 80px;
        right: calc(var(--right) + var(--after-w));
        width: calc(50% - var(--after-w) / 2 - var(--right));
        height: 150%;
        box-shadow: calc(-1 * var(--after-w)) 0 0 var(--primary-yellow) inset,
            0 calc(-1 * var(--after-w)) 0 var(--primary-yellow) inset,
            0 0 0 var(--outline) var(--primary-light) inset,
            0 0 0 calc(var(--after-w) - var(--outline)) var(--primary-yellow) inset,
            0 0 0 var(--after-w) var(--primary-light) inset;
    }
}

.feature {
    padding-top: var(--nav-h);
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 100%);

    .feature__content {
        display: flex;
        padding: var(--space-xs);

        p,
        img {
            flex: 1;
            max-width: 50%;
            transform: translateY(100%);
            opacity: 0;

            transition: transform 0.2s var(--transition-easeout),
                opacity 0.2s var(--transition-easeout);
        }

        p {
            font-size: var(--step-1);
            color: var(--primary-light);
            line-height: 2rem;
        }
    }

    .feature__highlight {
        color: black;
        background: conic-gradient(var(--secondary-yellow) 0 0) no-repeat;
        background-size: 0% 100%;
        background-position: left bottom;

        transition: background-size 4s var(--transition-easeout),
            color 4s var(--transition-easeout);
    }

    @media (max-width: 720px) {
        text-align: center;

        .feature__content {
            img {
                display: none;
            }

            p {
                max-width: 100%;
            }
        }
    }
}

.feature.expandable {
    --delay-time: 0.2s;

    .expand[open]+.collapse>.feature__content> :where(p, img) {
        transform: translateY(0%);
        opacity: 1;

        transition: transform 0.7s var(--transition-easeout),
            opacity 0.7s var(--transition-easeout);
        transition-delay: calc(var(--delay-time) * var(--delay));
    }

    .expand[open]+.collapse .feature__highlight {
        background-size: 100% 100%;
        color: var(--primary-light);
    }
}

.clients {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-m);
    background-color: var(--primary-dark);

    overflow: visible;
    z-index: 1;

    .slider {
        --slider-items: 14;
        --slider-time: 15s;

        background-color: var(--primary-light);
        mask-image: linear-gradient(to right,
                transparent 0%,
                black 10%,
                black 80%,
                transparent 100%);
        padding-block: var(--space-xs);
    }

    .slider--transform {
        position: absolute;
        opacity: 0.07;
        z-index: -1;
        pointer-events: none;
    }

    .start {
        right: 23.33%;
    }

    .end {
        left: 23.33%;
    }

    &:has(> .slider:hover)>.slider>.slider__item {
        animation-play-state: paused;
    }

    @media (max-width: 720px) {
        .slider {
            --slider-h: 100px;
            --slider-rotate: 90deg;

            &.slider--transform:not(.start, .end) {
                --slider-depth: 1.4 !important;
            }
        }

        .slider--transform {
            opacity: 0.1;
        }

        .start {
            top: -5%;
            right: 33.33%;
        }

        .end {
            left: 33.33%;
        }
    }
}

.contact {
    display: flex;
    flex-wrap: wrap-reverse;

    &>* {
        flex: 1 1 250px;
    }

    .contact__content {
        min-height: 100%;
        background-color: var(--primary-dark);
        text-align: center;
        position: relative;
        padding-block-end: var(--space-3xl);
        color: var(--tertiary-dark);
        font-size: var(--step-0);

        p {
            font-weight: lighter;
            margin-block-start: var(--space-3xs-2xl);
            line-height: 4rem;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--primary-dark);

            z-index: -1;
        }
    }

    .contact__title {
        width: 100%;
        line-height: 1.8em;
    }

    .contact__form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
        background-color: var(--primary-yellow);
        padding: var(--space-m);
        color: var(--primary-light);
        min-height: 100%;
        font-size: var(--step-1);
        overflow: clip;

        z-index: 0;

        input,
        textarea,
        select {
            font-size: var(--step-0);
            border: none;
            transition: background-color 0.7s var(--transition-overshoots),
                color 0.7s var(--transition-easeout);
            outline: none;

            &:focus {
                color: var(--primary-light);
                background-color: var(--secondary-yellow);
            }
        }

        label {
            display: flex;
            flex-direction: column;
            gap: 2px;
            transition: color 0.2s var(--transition-easeout);

            &:has(input:focus, select:focus) {
                color: var(--secondary-dark);
            }

            select {
                color: var(--secondary-dark);
            }
        }

        textarea {
            width: 100%;
            resize: none;
        }

        input[name="_gotcha"] {
            display: none;
        }

        input[type="submit"] {
            width: 100%;
            align-self: end;
            flex: 1;
            cursor: pointer;
            color: var(--secondary-dark);

            &:hover {
                background-color: var(--secondary-yellow);
                color: var(--primary-light);
            }
        }
    }
}

/* Utilities */

.title {
    font-size: var(--step-3);
    font-weight: 500;
}

.text-fadein {
    --per: 30%;

    color: transparent;
    background-image: linear-gradient(var(--primary-light) var(--per),
            var(--secondary-dark) 90%);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
}

.cascade {
    width: fit-content;
    align-content: end;
    position: sticky;
    top: var(--mask-fill);
    margin-block-start: var(--top);
    margin-inline-start: var(--left);

    z-index: 2;

    .cascade__logo {
        display: block;
        width: var(--logo-w);
        height: var(--logo-h);
        user-select: none;
    }
}

.card {
    --t: var(--duration-sm) var(--transition-easeout);

    display: grid;
    grid-template-rows: min-content 0fr;
    position: relative;
    cursor: pointer;
    background-color: var(--primary-light);
    padding: var(--space-s);
    box-shadow: 5px 5px var(--tertiary-dark);
    transition: grid-template-rows var(--t);

    .card__title {
        display: block;
        text-align: center;
        font-size: var(--step-1);
        color: var(--secondary-dark);
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: auto;
        }
    }

    .card__content {
        font-size: 0px;
        text-align: center;
        overflow: hidden;

        p {
            margin: var(--space-s-l);
            line-height: 1.1em;
        }
    }

    .card__title,
    .card__content {
        transition: font-size var(--t), color var(--t);
    }

    .card__check[open]>.card__title {
        font-size: var(--step-1);
        color: var(--primary-yellow);
    }

    .card__check[open]+.card__content {
        font-size: var(--step-0);
    }

    &:has(.card__check[open]) {
        grid-template-rows: min-content 1fr;
    }
}

.expandable {
    --summary: var(--sum-title, var(--step-2));
    --sum-padding: 1.5rem;
    --collapse: calc(var(--summary) + var(--sum-padding));

    position: relative;
    display: grid;
    grid-template-rows: calc(50% - var(--collapse) - var(--nav-h)) 1fr 0%;
    transition: grid-template-rows 0.5s, background-color 0.5s;

    &:has(> .expand[open]) {
        grid-template-rows: calc(0%) 0fr 100%;
        background-color: var(--expandable-color-open, var(--primary-dark));
    }

    .expand {
        grid-row: 2;
        place-self: start center;
        width: fit-content;
        background-color: var(--expandable-color, var(--primary-light));
        border-radius: 0.7rem;
        transition: background-color 0.7s, color 0.7s, font-size 0.7s;
        font-size: var(--summary);
        color: var(--expandable-txt, var(--secondary-dark));

        summary {
            display: block;
            padding: var(--sum-padding);
            cursor: pointer;
        }

        &[open] {
            background-color: var(--expandable-color-open, var(--primary-dark));
            color: var(--expandable-txt-open, var(--primary-light));
            font-size: var(--step-3);
        }
    }

    .collapse {
        grid-row: 3;
        overflow: hidden;
    }
}

.slider {
    /*https://codepen.io/EntropyReversed/pen/LYoLMqE*/

    /* Default config */
    --slider-w: clamp(240px, 14vw, 340px);
    --slider-h: 150px;
    --slider-time: 10s;
    --slider-items: 7;
    --slider-rotate: 45deg;
    --slider-depth: 1;
    --dir: 1;

    width: 100%;
    display: flex;
    height: var(--slider-h);
    overflow: clip;
    position: relative;
    max-width: calc(var(--slider-w) * var(--slider-items));

    .slider__item {
        width: var(--slider-w);
        height: var(--slider-h);
        object-fit: scale-down;
        flex-shrink: 0;
        position: absolute;
        right: 100%;

        transition: filter 0.7s var(--transition-easeout);

        animation: slide var(--slider-time) linear infinite;
        animation-delay: calc((var(--slider-time) / var(--slider-items)) * (var(--slider-items) - var(--slider-pos)) * var(--dir));
        animation-play-state: var(--state);

        &:has(~ &:hover),
        &:hover~& {
            filter: grayscale(1);
        }
    }

    &.slider--west>.slider__item {
        --dir: -1;

        left: 100%;
    }

    &.slider--transform {
        transform: rotate(var(--slider-rotate)) scale(var(--slider-depth));
    }
}

@keyframes slide {
    to {
        transform: translateX(calc(var(--slider-w) * var(--slider-items) * var(--dir)));
    }
}

.blanket {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 400%;

    transform-origin: top left;
    transform: rotate(-90deg) translateX(-99%);

    pointer-events: none;
    z-index: -1;

    &::before {
        --g: 5%;
        content: "";
        display: block;
        height: 50%;
        position: sticky;
        top: 105%;
        background: linear-gradient(to bottom,
                transparent 0%,
                var(--primary-dark) var(--g));

        @media (max-width: 600px) {
            --g: 2%;
            top: 50%;
        }
    }
}